services:
  postgres:
    image: postgres
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: <PASSWORD_HERE>
      POSTGRES_USER: <USERNAME_HERE>
    volumes:
      - <LOCAL_DATA_FOLDER_PATH>:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "3"

  cnap:
    image: ghcr.io/angrybacteria/cnap:latest
    container_name: cnap
    # user: "1000:1000"
    depends_on:
      - mongodb
    environment:
      PROD_PORT: 3000
      RUN_TASKS: true
      RIOT_API_KEY: <RIOT-API-KEY-HERE>
      UPDATE_INTERVAL: 3600000
      MONGODB_CONNECTION_STRING: <CONNECTION_STRING_HERE>
    ports:
      - "3000:3000"
    volumes:
      - <LOCAL_PATH_HERE>:/app/static
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "3"