name: Build Docker Image and Test code
on:
  push:
    branches:
      - "**"
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: angrybacteria/cnap
  HUSKY: 0

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    env:
      RIOT_API_KEY: ${{ secrets.RIOT_API_KEY }}
      DB_URL: ${{ secrets.DB_URL }}
      ADMIN_PASSWORD_HASH: ${{ secrets.ADMIN_PASSWORD_HASH }}
      ADMIN_PASSWORD_SALT: ${{ secrets.ADMIN_PASSWORD_SALT }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v3

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Type check
        run: pnpm run type-check

      - name: Lint (Biome)
        run: pnpm run biome

      - name: Run tests
        run: pnpm run test:server


  audit:
    continue-on-error: true
    name: pnpm audit (dependencies)
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v3

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run pnpm audit
        run: |
          pnpm audit --audit-level high


  build-and-push:
    name: Build and Push Docker image
    if: github.ref_name == 'main'
    runs-on: ubuntu-latest
    needs: test
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest


  trivy-scan:
    continue-on-error: true
    if: github.ref_name == 'main'
    name: Scan Docker image (Trivy)
    runs-on: ubuntu-latest
    needs: build-and-push
    permissions:
      contents: read
      packages: read
    steps:
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Trivy vulnerability scan
        uses: aquasecurity/trivy-action@0.22.0
        with:
          image-ref: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          format: table
          exit-code: 1
          vuln-type: library
          severity: CRITICAL,HIGH